.silverstripe__elementalbannerblock__block__bannerblock {
    height: auto !important;
}

.banner_img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.banner_content {
    margin: 2rem 8rem;
    color: $banner-color;

    h2 {
        color: $banner-color;
    }
}
