.accordion {
    &-item {
        margin-bottom: 1rem;

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $accordion-colour;
            background-color: $accordion-bg;
            margin: 0;
            padding: 0.5rem 1rem;
            cursor: pointer;

            &:hover,
            &--expanded {
                background-color: darken($accordion-bg, 15%);
            }
        }

        &__arrow {
            width: 1rem;
            height: auto;
            transform-origin: center;
            transition-duration: 300ms;

            .accordion-item__header--expanded & {
                transform: rotate(180deg);
            }
        }

        &__collapse {
            overflow: hidden;
            max-height: 0;
            transition: max-height 300ms ease-in-out;
        }

        &__content {
            padding: 0.5rem 1rem;
            border: 1px solid $accordion-bg;

            :last-child {
                margin-bottom: 0;
            }
        }
    }
}
