.accordion {
    &-item {
        margin-bottom: 1rem;

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #fff;
            background-color: #aaa;
            margin: 0;
            padding: 0.5rem 1rem;
        }

        &__arrow {
            width: 1rem;
            transform-origin: center;
            transition-duration: 0.2s;

            .accordion-item__header--expanded & {
                transform: rotate(180deg);
            }
        }

        &__collapse {
            overflow: hidden;
            max-height: 0;
            transition: max-height 300ms ease-in-out;
        }

        &__content {
            padding: 0.5rem 1rem;
            border: 1px solid #aaa;

            :last-child {
                margin-bottom: 0;
            }
        }
    }
}
