.image-content {
    &__row {
        display: flex;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    &__col {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
