.pagination {
    display: flex;
    justify-content: center;
    padding: 0.5rem;

    &--desktop {
        display: none;

        @media (min-width: $sm) {
            display: flex;
        }
    }

    &--mobile {
        @media (min-width: $sm) {
            display: none;
        }
    }

    &__item {
        font-size: 1.2rem;
        font-weight: 600;
        color: $body-colour;
        padding: 0.5rem 0.8rem;
        text-decoration: none;

        @media (min-width: $sm) {
            padding: 0.5rem 1rem;
        }

        &:hover {
            color: darken($body-colour, 30%);
        }

        &--current {
            text-decoration: underline;

            &:hover {
                color: $body-colour;
            }
        }

        &--dots {
            &:hover {
                color: $body-colour;
            }
        }
    }
}
