footer {
    text-align: center;
    padding: 1.5rem 0;
    color: $footer-color;
    background-color: $footer-bg;

    .nav-link {
        color: $footer-link-color;

        :hover {
            color: darken($footer-link-color, 20%);
        }
    }
}
