footer {
    text-align: center;
    padding: 1.5rem 0;
    background-color: $footer-bg;
}

.footer_nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;

    padding: 0;
}

.footer_nav-item {
    padding: 0.5rem 1rem;
    color: $footer-link-color;
    :hover {
        color: darken($footer-link-color, 15%);
    }
}

.copyright {
    color: $footer-color;
}