.userform {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        @extend .form-control;
    }

    select {
        @extend .form-select;
        line-height: 1.2
    }

    input[type="radio"],
    input[type="checkbox"] {
        @extend .form-check-input;
    }

    input[type="range"] {
        @extend .form-range;
    }

    input[type="submit"] {
        @extend .btn, .btn-primary;
    }

    label {
        @extend .form-label;
    }

    .field {
        margin-bottom: 1rem;
    }

    textarea {
        height: 7.5rem;
    }
}
