$body-color:    #000000 !default;
$body-bg:       #ffffff !default;
$primary:       #00a6ff !default;
$secondary:     #f7ff00 !default;

$link-color: #0000ff !default;
$banner-color:  #ffffff !default;

$header-bg: #000000 !default;

$nav-link-color: #ffffff !default;
$nav-link-current-color: #000000 !default;
$nav-link-hover-color: #00a6ff !default;

$footer-bg: #000000 !default;
$footer-color: #ffffff !default;
$footer-link-color: #00c4ff !default;



h1 {
    color: #000000;
    font-weight: 700;
}
h2 {
    color: #000000;
    font-weight: 700;
}
h3 {
    color: #000000;
    font-weight: 500;
}
h4 {
    color: #000000;
    font-weight: 500;
}
h5 {
    color: #000000;
    font-weight: 500;
}
h6 {
    color: #000000;
    font-weight: 500;
}