$body-color: #000000 !default;
$body-bg: #ffffff !default;
$primary: #007bff !default;
$secondary: #f7ff00 !default;

$link-color: #0048ff !default;
$banner-color: #ffffff !default;

$header-bg: #000000 !default;

$nav-link-color: #ffffff !default;
$nav-link-current-color: #000000 !default;
$nav-link-hover-color: #00a6ff !default;

$footer-bg: #000000 !default;
$footer-color: #ffffff !default;
$footer-link-color: #00c4ff !default;

h1 {
    color: #000000;
    font-weight: 700 !important;
}
h2 {
    color: #000000;
    font-weight: 700 !important;
}
h3 {
    color: #000000;
    font-weight: 500;
}
h4 {
    color: #000000;
    font-weight: 500;
}
h5 {
    color: #000000;
    font-weight: 500;
}
h6 {
    color: #000000;
    font-weight: 500;
}

$h1-font-size: 3rem !default;
$h2-font-size: 2.5rem !default;
$h3-font-size: 2rem !default;
$h4-font-size: 1.5rem !default;
$h5-font-size: 1.25rem !default;
$h6-font-size: 1rem !default;

$font-family-sans-serif: "Noto Sans JP", sans-serif !default;
$link-decoration: none !default;